In [20]:
#range (gera uma lista)
print(range(10))

range(0, 10)

In [21]:
#Combine com list
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#Ordene a lista
numeros = [0, 8, 2, 7, 9, 6, 5, 3, 1, 4]
print(sorted(numeros))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:

#Converta números para string
print(str(10.9), str(10))

10.9 10

In [24]:
#Converta strings para numeros inteiros ou flutuante para inteiro
print(int("10"), int(10.2))

10 10

In [25]:
#Converta strings para numeros inteiros ou flutuante para inteiro
print(float("10.2"), float(10))

10.2 10.0

In [26]:
#conte listas, dicionários e caracteres
numeros = [0, 8, 2, 7, 9, 6, 5, 3, 1, 4]
print(len("10"), len("seu nome"), len(numeros))

2 8 10

In [27]:
#Somando valores
numeros = [0, 8, 2, 7, 9, 6, 5, 3, 1, 4]
print(sum(numeros))

45

In [28]:
#Valor máximo e minimo
numeros = [0, 8, 2, 7, 9, 6, 5, 3, 1, 4]
print(max(numeros), min(numeros))

9 0

In [29]:
#Descobrindo o tipo da variável
print(type(10), type([9, 8]), type(sum([9, 10])), type('10')==type(10))

<class 'int'> <class 'list'> <class 'int'> False